<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Groups</key>
	<array>
		<dict>
			<key>SPGroupTitleIsShown</key>
			<false/>
			<key>SPGroupIdentifier</key>
			<string>com.spotify.Viva.GettingStarted</string>
			<key>SPGroupTitle</key>
			<string>Getting Started</string>
			<key>SPGroupItems</key>
			<array>
				<dict>
					<key>SPItemTitle</key>
					<string>Library</string>
					<key>SPItemImageKey</key>
					<string>sidebar-home</string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:library</string>
				</dict>
				<dict>
					<key>SPItemTitle</key>
					<string>Explore</string>
					<key>SPItemImageKey</key>
					<string>sidebar-explore</string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:explore</string>
				</dict>
				<dict>
					<key>SPItemTitle</key>
					<string>Radio</string>
					<key>SPItemImageKey</key>
					<string>sidebar-radio</string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:radio</string>
				</dict>
				<dict>
					<key>SPItemTitle</key>
					<string>People</string>
					<key>SPItemImageKey</key>
					<string>sidebar-people</string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:friends</string>
				</dict>
				<dict>
					<key>SPItemTitle</key>
					<string>Inbox</string>
					<key>SPItemImageKey</key>
					<string>sidebar-inbox</string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:inbox</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>SPGroupItems</key>
			<array>
				<dict>
					<key>SPItemTitle</key>
					<string>Starred</string>
					<key>SPItemImageKey</key>
					<string>sidebar-starred</string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:starred</string>
				</dict>
				<dict>
					<key>SPItemTitle</key>
					<string>SPUserPlaylistsPlaceholder</string>
					<key>SPItemImageKey</key>
					<string></string>
					<key>SPItemSpotifyURL</key>
					<string>spotify:internal:userplaylists</string>
				</dict>
			</array>
			<key>SPGroupTitleIsShown</key>
			<true/>
			<key>SPGroupIdentifier</key>
			<string>com.spotify.Viva.UserPlaylists</string>
			<key>SPGroupTitle</key>
			<string>PLAYLISTS</string>
		</dict>
	</array>
</dict>
</plist>
