<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlankPreset</key>
	<dict>
		<key>name</key>
		<string>Off</string>
	</dict>
	<key>Presets</key>
	<array>
		<dict>
			<key>band1</key>
			<real>5</real>
			<key>band10</key>
			<real>2.15</real>
			<key>band2</key>
			<real>4.9</real>
			<key>band3</key>
			<real>3.95</real>
			<key>band4</key>
			<real>1.05</real>
			<key>band5</key>
			<real>2.15</real>
			<key>band6</key>
			<real>1.75</real>
			<key>band7</key>
			<real>3.5</real>
			<key>band8</key>
			<real>4.1</real>
			<key>band9</key>
			<real>3.55</real>
			<key>name</key>
			<string>Acoustic</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>5.5</real>
			<key>band10</key>
			<real>0</real>
			<key>band2</key>
			<real>4.25</real>
			<key>band3</key>
			<real>3.5</real>
			<key>band4</key>
			<real>2.5</real>
			<key>band5</key>
			<real>1.25</real>
			<key>band6</key>
			<real>0</real>
			<key>band7</key>
			<real>0</real>
			<key>band8</key>
			<real>0</real>
			<key>band9</key>
			<real>0</real>
			<key>name</key>
			<string>Bass Booster</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>-5.5</real>
			<key>band10</key>
			<real>0</real>
			<key>band2</key>
			<real>-4.25</real>
			<key>band3</key>
			<real>-3.5</real>
			<key>band4</key>
			<real>-2.5</real>
			<key>band5</key>
			<real>-1.25</real>
			<key>band6</key>
			<real>0</real>
			<key>band7</key>
			<real>0</real>
			<key>band8</key>
			<real>0</real>
			<key>band9</key>
			<real>0</real>
			<key>name</key>
			<string>Bass Reducer</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>4.75</real>
			<key>band10</key>
			<real>3.75</real>
			<key>band2</key>
			<real>3.75</real>
			<key>band3</key>
			<real>3</real>
			<key>band4</key>
			<real>2.5</real>
			<key>band5</key>
			<real>-1.5</real>
			<key>band6</key>
			<real>-1.5</real>
			<key>band7</key>
			<real>0</real>
			<key>band8</key>
			<real>2.25</real>
			<key>band9</key>
			<real>3.25</real>
			<key>name</key>
			<string>Classical</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>3.57</real>
			<key>band10</key>
			<real>0</real>
			<key>band2</key>
			<real>6.55</real>
			<key>band3</key>
			<real>4.99</real>
			<key>band4</key>
			<real>0</real>
			<key>band5</key>
			<real>1.92</real>
			<key>band6</key>
			<real>3.65</real>
			<key>band7</key>
			<real>5.15</real>
			<key>band8</key>
			<real>4.54</real>
			<key>band9</key>
			<real>3.59</real>
			<key>name</key>
			<string>Dance</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>4.95</real>
			<key>band10</key>
			<real>-4.6</real>
			<key>band2</key>
			<real>3.55</real>
			<key>band3</key>
			<real>1.75</real>
			<key>band4</key>
			<real>1</real>
			<key>band5</key>
			<real>2.85</real>
			<key>band6</key>
			<real>2.5</real>
			<key>band7</key>
			<real>1.45</real>
			<key>band8</key>
			<real>-2.15</real>
			<key>band9</key>
			<real>-3.55</real>
			<key>name</key>
			<string>Deep</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>4.25</real>
			<key>band10</key>
			<real>4.8</real>
			<key>band2</key>
			<real>3.8</real>
			<key>band3</key>
			<real>1.2</real>
			<key>band4</key>
			<real>0</real>
			<key>band5</key>
			<real>-2.15</real>
			<key>band6</key>
			<real>2.25</real>
			<key>band7</key>
			<real>0.85</real>
			<key>band8</key>
			<real>1.25</real>
			<key>band9</key>
			<real>3.95</real>
			<key>name</key>
			<string>Electronic</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>5</real>
			<key>band10</key>
			<real>3</real>
			<key>band2</key>
			<real>4.25</real>
			<key>band3</key>
			<real>1.5</real>
			<key>band4</key>
			<real>3</real>
			<key>band5</key>
			<real>-1</real>
			<key>band6</key>
			<real>-1</real>
			<key>band7</key>
			<real>1.5</real>
			<key>band8</key>
			<real>-0.5</real>
			<key>band9</key>
			<real>2</real>
			<key>name</key>
			<string>Hip-Hop</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>4</real>
			<key>band10</key>
			<real>3.75</real>
			<key>band2</key>
			<real>3</real>
			<key>band3</key>
			<real>1.5</real>
			<key>band4</key>
			<real>2.25</real>
			<key>band5</key>
			<real>-1.5</real>
			<key>band6</key>
			<real>-1.5</real>
			<key>band7</key>
			<real>0</real>
			<key>band8</key>
			<real>1.5</real>
			<key>band9</key>
			<real>3</real>
			<key>name</key>
			<string>Jazz</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>4.5</real>
			<key>band10</key>
			<real>4.5</real>
			<key>band2</key>
			<real>3</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>0</real>
			<key>band5</key>
			<real>-1.5</real>
			<key>band6</key>
			<real>-1.5</real>
			<key>band7</key>
			<real>-1.5</real>
			<key>band8</key>
			<real>0</real>
			<key>band9</key>
			<real>3</real>
			<key>name</key>
			<string>Latin</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>6</real>
			<key>band10</key>
			<real>1</real>
			<key>band2</key>
			<real>4</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>0</real>
			<key>band5</key>
			<real>-2</real>
			<key>band6</key>
			<real>0</real>
			<key>band7</key>
			<real>-1</real>
			<key>band8</key>
			<real>-5</real>
			<key>band9</key>
			<real>5</real>
			<key>name</key>
			<string>Loudness</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>-3</real>
			<key>band10</key>
			<real>1</real>
			<key>band2</key>
			<real>-1.5</real>
			<key>band3</key>
			<real>-0.5</real>
			<key>band4</key>
			<real>1.5</real>
			<key>band5</key>
			<real>4</real>
			<key>band6</key>
			<real>2.5</real>
			<key>band7</key>
			<real>0</real>
			<key>band8</key>
			<real>-1.5</real>
			<key>band9</key>
			<real>2</real>
			<key>name</key>
			<string>Lounge</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>3</real>
			<key>band10</key>
			<real>3.5</real>
			<key>band2</key>
			<real>2</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>2.5</real>
			<key>band5</key>
			<real>3</real>
			<key>band6</key>
			<real>1.5</real>
			<key>band7</key>
			<real>3.5</real>
			<key>band8</key>
			<real>4.5</real>
			<key>band9</key>
			<real>3</real>
			<key>name</key>
			<string>Piano</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>-1.5</real>
			<key>band10</key>
			<real>-1.5</real>
			<key>band2</key>
			<real>-1</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>2</real>
			<key>band5</key>
			<real>4</real>
			<key>band6</key>
			<real>4</real>
			<key>band7</key>
			<real>2</real>
			<key>band8</key>
			<real>0</real>
			<key>band9</key>
			<real>-1</real>
			<key>name</key>
			<string>Pop</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>2.62</real>
			<key>band10</key>
			<real>3.75</real>
			<key>band2</key>
			<real>6.92</real>
			<key>band3</key>
			<real>5.65</real>
			<key>band4</key>
			<real>1.33</real>
			<key>band5</key>
			<real>-2.19</real>
			<key>band6</key>
			<real>-1.5</real>
			<key>band7</key>
			<real>2.32</real>
			<key>band8</key>
			<real>2.65</real>
			<key>band9</key>
			<real>3</real>
			<key>name</key>
			<string>R&amp;B</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>5</real>
			<key>band10</key>
			<real>4.5</real>
			<key>band2</key>
			<real>4</real>
			<key>band3</key>
			<real>3</real>
			<key>band4</key>
			<real>1.5</real>
			<key>band5</key>
			<real>-0.5</real>
			<key>band6</key>
			<real>-1</real>
			<key>band7</key>
			<real>0.5</real>
			<key>band8</key>
			<real>2.5</real>
			<key>band9</key>
			<real>3.5</real>
			<key>name</key>
			<string>Rock</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>5.5</real>
			<key>band10</key>
			<real>-4.25</real>
			<key>band2</key>
			<real>4.25</real>
			<key>band3</key>
			<real>3.5</real>
			<key>band4</key>
			<real>2.5</real>
			<key>band5</key>
			<real>1.25</real>
			<key>band6</key>
			<real>0</real>
			<key>band7</key>
			<real>-1.25</real>
			<key>band8</key>
			<real>-2.5</real>
			<key>band9</key>
			<real>-3.5</real>
			<key>name</key>
			<string>Small Speakers</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>-3.46</real>
			<key>band10</key>
			<real>0</real>
			<key>band2</key>
			<real>-0.47</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>0.6899999999999999</real>
			<key>band5</key>
			<real>3.46</real>
			<key>band6</key>
			<real>4.61</real>
			<key>band7</key>
			<real>4.84</real>
			<key>band8</key>
			<real>4.28</real>
			<key>band9</key>
			<real>2.54</real>
			<key>name</key>
			<string>Spoken Word</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>0</real>
			<key>band10</key>
			<real>5.5</real>
			<key>band2</key>
			<real>0</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>0</real>
			<key>band5</key>
			<real>0</real>
			<key>band6</key>
			<real>1.25</real>
			<key>band7</key>
			<real>2.5</real>
			<key>band8</key>
			<real>3.5</real>
			<key>band9</key>
			<real>4.25</real>
			<key>name</key>
			<string>Treble Booster</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>0</real>
			<key>band10</key>
			<real>-5.5</real>
			<key>band2</key>
			<real>0</real>
			<key>band3</key>
			<real>0</real>
			<key>band4</key>
			<real>0</real>
			<key>band5</key>
			<real>0</real>
			<key>band6</key>
			<real>-1.25</real>
			<key>band7</key>
			<real>-2.5</real>
			<key>band8</key>
			<real>-3.5</real>
			<key>band9</key>
			<real>-4.25</real>
			<key>name</key>
			<string>Treble Reducer</string>
		</dict>
		<dict>
			<key>band1</key>
			<real>-1.5</real>
			<key>band10</key>
			<real>-1.5</real>
			<key>band2</key>
			<real>-3</real>
			<key>band3</key>
			<real>-3</real>
			<key>band4</key>
			<real>1.5</real>
			<key>band5</key>
			<real>3.75</real>
			<key>band6</key>
			<real>3.75</real>
			<key>band7</key>
			<real>3</real>
			<key>band8</key>
			<real>1.5</real>
			<key>band9</key>
			<real>0</real>
			<key>name</key>
			<string>Vocal Booster</string>
		</dict>
	</array>
</dict>
</plist>
